.grid {
    display: grid;
    grid-template-columns: repeat(50, 20px);
    grid-template-rows: repeat(50, 20px);
    background-color: #000;
    border: 2px solid #333;
}

.cell {
    background-color: #fff;
}

.cell.alive {
    background-color: #000;
    border: 1px solid white;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#gameoflife {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.button {
    align-self: center;
    color: white;
    background-color: #333;
    border: 1px solid white;
    padding: 5px 10px;
    margin-left: 10vh;
    font-size: 1.2rem;
    cursor: pointer;
    width: 53vh;
    height: 5vh;
}

.button:hover {
    background-color: #555;
}
.button:active {
    background-color: #777;
}

.select {
    align-self: center;
    color: white;
    background-color: #333;
    border: 1px solid white;
    padding: 5px 10px;
    margin-left: 10vh;
    font-size: 1.2rem;
    cursor: pointer;
    width: 53vh;
    height: 5vh;
}

.select:hover {
    background-color: #555;
}

.select:active {
    background-color: #777;
}