.table_1 th, .table_1 td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
}

.table_1 th, .table_1 td div {
    display: block;
    width: 50px;
    height: 50px;
    padding: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    color: white;
}

.table_1 td input {
    display: block;
    width: 50px;
    height: 50px;
    padding: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    border: none;
    color: white;
}

.num {
    margin-top: 7px;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.table_1 td input:focus{
    outline: none;
}

.table_1 {
    border-collapse: collapse;
}

.table {    
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}


.table_1 input::-webkit-outer-spin-button,
.table_1 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.table_1 input[type=number] {
  -moz-appearance: textfield;
}

.button {
    align-self: center;
    color: white;
    background-color: #333;
    border: 1px solid white;
    padding: 5px 10px;
    margin-left: 10vh;
    font-size: 1.2rem;
    cursor: pointer;
    width: 53vh;
    height: 5vh;
}

.button:hover {
    background-color: #555;
}
.button:active {
    background-color: #777;
}